@import './base.css';

html, body {
  background-color: white;
  transition: all 0.1s ease-in-out!important;
}

#app {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  margin: 0 auto;
  font-weight: normal;
}
button {
  font-family: "Playfair Display", serif;
}
b {
  font-weight: 700;
}

